@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); */

/* :root { */
  /* --font-title: 'Kanit', 'sans-serif';
  --font-body: 'Lora', 'serif';
  --brand-black: #2C1616;
  --brand-dark: #340000;
  --brand-red: #760002;
  --brand-bg: #FFFAEC; */
  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
/* } */

/* .font-title{
  color: var(--brand-black);
}
.font-body{
  color: var(--brand-dark);
  font-family: var(--font-title);
} */

/* File: src/index.css */


/* Tambahkan ini */
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  width: 0;
  background: transparent;
}

.inimodalcuy::-webkit-scrollbar{
  width: 0;
  background: transparent; 
}
/* *{border: 1px red solid;} */